

.camposNota{
    margin-left:30%;
    margin-top:10%;
}

.nombreEtiqueta{
    margin:0 auto;
}

.descripcionEtiqueta{
    margin-bottom:10%;
}

.crearEtiqueta{
    margin-top:1%;
    margin-left:1%;
}

.fechaNota{
    margin: 0 auto;
}
